<head>

<style media = 'screen' type = 'text/css'>
	body {
		background-image: url("http://phandroid.s3.amazonaws.com/wp-content/uploads/2015/01/bricks-5.jpg");
		background-color: #cccccc;
	}
	img {
	width: 200px;
	height: 200px;
}
.name {
	font-family: 'Arvo', serif;
}
.cover {
	text-align: center;
	font-family: 'Arvo', serif;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    line-height: 15em;
}
.random {
	margin: 0 auto;
	width: 600px;
	background-color: #D6D3DB;
	font-family: 'Arvo', serif;
	padding: 20px 6px;
	border-radius: 3%;
}
  

</style>


	<title>Gangster Name</title>

	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="cover">
		<h1 class="name"><font size='20'>Gangster Name Generator</h1>
	</div>
	<div class="random">
		<p1><font size="5">Your gangster name is <%= @text.capitalize %></font></p1>
	</div>
	<img src="http://i735.photobucket.com/albums/ww352/Dez21/Money/GreenDollarSign.gif"/> 
	<img src="http://rs767.pbsrc.com/albums/xx315/Alexanderchavez_2009/tumblr_lluja04WC21qdb5i8.gif~c200"/>
	<img src="http://www.gifwave.com/media/559099_oh-no-you-didnt-movies-harry-potter-voldemort-ghetto.gif" height='213px' width='500'/>
	<img src="http://stream1.gifsoup.com/view1/1247309/grillz-o.gif"/>
	<img src="http://www.clipartbest.com/cliparts/9Tz/onM/9TzonMEXc.gif"/>
	<img src="http://img3.wikia.nocookie.net/__cb20110731053214/potcoplayers/images/b/be/Rotating_gold_dollar_sign.gif"/>
	<img src="http://static.tumblr.com/ofcyqmq/zQnlkhsol/gangster.gif"/>
</body>
